@font-face {
  Font-family: Dsketch;
  src: url(Fonts/Dsketch.otf);
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

html {
  Font-size: 250%;
  align-items: center;
  background: linear-gradient(180deg, rgba(218, 206, 205) 0%, rgba(255, 255, 255)80%);
  background-size: 100vw 100vh;
}

nav {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 5fr 5fr;
  margin: 10px;
  align-items: center;
}

nav a {
  font-family: Dsketch;
  padding: 15px;
  color: aliceblue;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 4vw;
}

.logo {
  justify-self: center;
  width: 50%;
}

.cartNav {
  display: flex;
  justify-content: center;
  align-self: center;
}

.cartNav h2 {
  margin: 1px 5%;
  align-self: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 30px auto;
  background color: white;
}

.overlay,
.promo1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.overlay {
  margin: 20px;
  font-family: Dsketch;
  color: aliceblue;
  padding-left: 10px;
}

.promo1,
.promo2 {
  padding: 20px;
  border: 1px solid grey;
  background-color: white;
  box-shadow: 2px 2px 10px black;
}

.promo2 {
  justify-self: end;
}

.cart {
  width: 10%;
  justify-self: end;
  align-self: center;
}

.me {
  margin-left: 55%;
  border: 2px solid black;
  width: auto;

}

.about {
align-self: start;
justify-content: left;
  font-size: 80%;
  /* padding: 20px; */
  /* margin: 20px; */
  /* text-align: left; */
  display: grid;
  grid-column: 1/2;
}

#cartproducts {
  display: block;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 80%;
}

.main {
  width: 100%;
}

nav a:hover {
  color: yellow;
}

li {
  width: 100%;
  background-color: grey;
  list-style: none;
  padding-top: 20px;
  text-align: center;
}

li img {
  display: block;
  width: 60%;
  margin: auto;
}

h1 {
  display: inline-block;
  margin: 0px 20px;
}

h2 {
  display: inline-block;
  color: red;
}
