@font-face {
    Font-family: Love Story Rough;
    src: url(fonts/love.ttf);
}

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    Font-size: 200%;
    align-items: center;
    background: linear-gradient(180deg, rgba(218, 206, 205) 0%, rgba(255, 255, 255)80%);
    background-size: 100vw 100vh;
}

nav {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Love Story Rough;
    grid-auto-rows: 5fr 5fr;
    margin: 10px;
    align-items: center;
}

nav a {
    padding: 15px;
    color: aliceblue;
}

.logo {
    justify-self: center;
    width: 50%;
}

.cartNav {
    display: flex;
    justify-content: center;
}

.cartNav h2 {
    margin: 0px 5%;
}

section {
    grid-template-columns: auto;
    justify-self: auto;
    background color: white;

}

.cart {
    width: 8%;
    justify-self: end;
    align-self: center;
}

 li {

    background-color: whitesmoke;
    min-height: 30vh;
    list-style: none;
    width: 35%;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: auto;
    margin-right: auto;
    padding: 2vh 1%;
    box-shadow: 1px 1px 10px black;
}

.piss ul {
    display: flex;
    justify-content: center;
    margin: 10vh 0px;
    display: flex;
    flex-wrap: wrap;

}

.piss2 ul {
    display: flex;
    justify-content: center;
    margin: 10vh 0px;
    display: flex;
    flex-wrap: wrap;
}

.piss li img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.piss2 li img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
